
#header {
    color: grey;
    background-color: lightgray;
    text-align: center;
    height: 60px;
    width: 960px;
    padding: 25px;
    
    
}
#container {
    background-color: #777;

}
#nav {
    color: grey;
    background-color: lightgray;
    text-align: center;
}
#section {
    color: grey;
    background-color: lightgray;
    text-align: center;
    float: left;

}
#h1,h2,h3{
    color: grey;
    background-color: lightgray;
    text-align: center;
    
}
#p {
    color: gray;
    background-color: lightgray;
    text-align: center;

}
#aside {
    color: gray;
    background-color: lightgray;
    text-align: center;
    float: left;


}
#footer {
    color: gray;
    background-color: lightgray;
    text-align: center;
}
#article {
    color: gray;
    background-color: lightgray;
    text-align: center;

}